# Flutter/Dart
.dart_tool/
build/
.flutter-plugins-dependencies
pubspec.lock
*.lock

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Firebase
firebase.json
.firebaserc
lib/firebase_options.dart
lib/auth/firebase_auth_manager.dart
lib/services/firestore_user_service.dart
web/firebase-messaging-sw.js
